body
{
	background-color: #dcdcdc;
	margin: 0px;
	font-family: 'Lato', sans-serif;
}

header
{
	width: 100%;
	height: 65px;
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 0 5px #939393;
	position: fixed;
	z-index: 2;
}

.logo
{
	width: 1024px;
	height: 55px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-right: 12px;
}

.sign
{
	float:right;
	margin-top: 12px;
	background-color: #1f1f7b;
	color: white;
}

.container
{
	margin-left: auto;
	margin-right: auto;
	width:1024px;
	margin-top: -16px;
	position: relative;
	top: 66px;
}

.navigate
{
	background-color: #1f1f7b;
	color: white;
	font-weight: 700;
	list-style-type: none;
}

.navigate li
{
	display: inline-block;
	padding: 20px;
}

.navigate li:hover
{
	cursor: pointer;
	background-color: #2f2f8c;
}

.match
{
	margin-top: -16px;
}

.ad
{
	height: 250px;
	text-align: center;
	padding-bottom: 10px;
}

.info
{
	background-color: #fff;
	font-size: 0px;
}

.mainnews
{
	width: 683px;
	height: 400px;
	background-color: yellow;
	display: inline-block;
	margin-bottom: 10px;
}

.recommended
{
	width: 332px;
	height: 400px;
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
	margin-bottom: 10px;
}

.recommended img
{
	width: 22px;
	height: 22px;
}

.recommended h3
{
	font-size: 20px;
	margin-left: 10px;
	padding-bottom: 8px;
	border-bottom: 1px solid #d7dfdd;
}

.recommended p
{
	margin-left: 10px;
	font-size: 14px;
	padding: 5px;
}

.bgcolor
{
	background-color: #f7fbfa;
}

a:link
{
	text-decoration: none;
	color: black;
}

a:visited
{
	color: black;
}

.news
{
	width: 100%;
}

.newsCard
{
	display:inline-block;
	background-color: #f6f6f6;
	height: 305px;
	width: 255px;
	padding-right: 1px;
	vertical-align: top;
}

.newsCard:nth-child(odd)
{
	background-color: #fff;
}

.subtitle
{
	font-size: 15px;
	font-weight: 700;
	margin-left: 10px;
	color: #0c0c55;
}

.newsCard:hover
{
	opacity: 0.9;
}

.news img:hover
{
	opacity: 0.8;
}

.desc
{
	font-size: 15px;
	margin-left: 10px;
	opacity: 0.6;
}

.subtitle1
{
	font-size: 15px;
	font-weight: 700;
	color: #0c0c55;
	display: inline-block;
}

.bgnews
{
	height: 26px;
	width: 682px;
	background-color: #1f1f7b;
	margin-top: 20px;
}

.bgnews p
{
	margin-left: 15px;
	color: #fff;
	font-weight: 700;
	padding-top: 4px;
	font-size: 15px;
}

.oldnews
{
	background-color: #fff;
	width: 682px;
	height: 24px;
	margin-top: -13px;
}

.bgoldnews
{
	background-color: #f7f7f7;
}

.comments
{
	float:right;
	margin-right: 10px;
	text-align: right;
}

.oldnews:hover
{
	cursor: pointer;
	background-color: #eee;
}

.singleOldNews
{
	font-size: 13px;
	margin-left: 15px;
	padding: 7px 0px;
}

.pack
{
	display: inline-block;
}

.injuries
{
	display: inline-block;
	width: 300px;
	background-color: #fff;
}

.injurie
{
	background-color: #f7f7f7;
}

.subtitle1
{
	font-size: 15px;
	font-weight: 700;
	color: #0c0c55;
	display: inline-block;
}

.inj
{
	display: inline-block;
}

section
{
	background-color: #fff;
}